name: CI - PR

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  checkout-build-test:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./manchester-seals
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
          cache: 'npm'
          cache-dependency-path: './manchester-seals/package-lock.json'

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Build project
        run: npm run build
        env:
          CI: true

      - name: Run tests
        run: npm test --if-present
        env:
          CI: true
